.Projects {
  border-bottom: 8px solid #c1cbcb;
  padding-left: 25px;
  margin-top: 25px;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.navLink {
  margin: 25px;
}

.card {
  width: 18rem;
}

start.cardBody {
  background-color: #f7f7f7;
}

.cardTitle {
  font-weight: "bold";
  text-align: "center";
}

.cardText {
  font-weight: bold;
  font-style: italic;
}
